In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
playoff_box_scores = pd.read_csv('../NBA-Data-2010-2024/play_off_box_scores_2010_2024.csv')
playoff_box_scores

,season_year,game_date,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,personId,personName,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2011-12,2012-06-03,41100304,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,0
1,2011-12,2012-06-09,41100307,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,0
2,2010-11,2011-06-05,41000403,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,1,1,1,0,0,0,1,1,6
3,2011-12,2012-04-28,41100111,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,3
4,2011-12,2012-05-15,41100202,1610612748,Miami,Heat,MIA,heat,436,Juwan Howard,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31180,2023-24,2024-04-20,42300161,1610612756,Phoenix,Suns,PHX,suns,1629642,Nassir Little,...,0,0,0,0,0,0,0,0,2,-5
31181,2023-24,2024-04-28,42300164,1610612756,Phoenix,Suns,PHX,suns,201152,Thaddeus Young,...,0,0,0,0,0,0,0,0,0,0
31182,2023-24,2024-04-23,42300162,1610612756,Phoenix,Suns,PHX,suns,201152,Thaddeus Young,...,0,0,0,0,0,0,0,0,0,0
31183,2023-24,2024-04-26,42300163,1610612756,Phoenix,Suns,PHX,suns,201152,Thaddeus Young,...,0,0,0,0,0,0,0,0,0,0
31184,2023-24,2024-04-20,42300161,1610612756,Phoenix,Suns,PHX,suns,201152,Thaddeus Young,...,0,0,0,0,0,0,0,0,0,-5

In [32]:
playoff_box_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31185 entries, 0 to 31184
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season_year              31185 non-null  object
 1   game_date                31185 non-null  object
 2   gameId                   31185 non-null  int64
 3   teamId                   31185 non-null  int64
 4   teamCity                 31185 non-null  object
 5   teamName                 31185 non-null  object
 6   teamTricode              31185 non-null  object
 7   teamSlug                 31185 non-null  object
 8   personId                 31185 non-null  int64
 9   personName               31185 non-null  object
 10  position                 11810 non-null  object
 11  comment                  6283 non-null   object
 12  jerseyNum                0 non-null      float64
 13  minutes                  24902 non-null  object
 14  fieldGoalsMade           31185 non-null  int64
 15  fieldGoalsAttempted      31185 non-null  int64
 16  fieldGoalsPercentage     31185 non-null  float64
 17  threePointersMade        31185 non-null  int64
 18  threePointersAttempted   31185 non-null  int64
 19  threePointersPercentage  31185 non-null  float64
 20  freeThrowsMade           31185 non-null  int64
 21  freeThrowsAttempted      31185 non-null  int64
 22  freeThrowsPercentage     31185 non-null  float64
 23  reboundsOffensive        31185 non-null  int64
 24  reboundsDefensive        31185 non-null  int64
 25  reboundsTotal            31185 non-null  int64
 26  assists                  31185 non-null  int64
 27  steals                   31185 non-null  int64
 28  blocks                   31185 non-null  int64
 29  turnovers                31185 non-null  int64
 30  foulsPersonal            31185 non-null  int64
 31  points                   31185 non-null  int64
 32  plusMinusPoints          31185 non-null  int64
dtypes: float64(4), int64(19), object(10)
memory usage: 7.9+ MB

In [7]:
playoff_totals = pd.read_csv('../NBA-Data-2010-2024/play_off_totals_2010_2024.csv')
playoff_totals

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2010-11,1610612737,ATL,Atlanta Hawks,41000205,2011-05-10T00:00:00,ATL @ CHI,L,48.0,34,...,43,32,159,70,18,68,142,140,139,NaN
1,2010-11,1610612737,ATL,Atlanta Hawks,41000201,2011-05-02T00:00:00,ATL @ CHI,W,48.0,40,...,43,16,35,21,109,22,142,24,39,NaN
2,2010-11,1610612737,ATL,Atlanta Hawks,41000202,2011-05-04T00:00:00,ATL @ CHI,L,48.0,26,...,137,51,15,3,66,8,129,159,145,NaN
3,2010-11,1610612737,ATL,Atlanta Hawks,41000132,2011-04-19T00:00:00,ATL @ ORL,L,48.0,32,...,123,107,67,38,6,144,85,144,106,NaN
4,2010-11,1610612737,ATL,Atlanta Hawks,41000135,2011-04-26T00:00:00,ATL @ ORL,L,48.0,25,...,123,63,153,122,42,79,28,157,159,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,2023-24,1610612756,PHX,Phoenix Suns,42300161,2024-04-20T00:00:00,PHX @ MIN,L,48.0,33,...,156,130,18,39,12,79,16,129,153,1.0
2358,2023-24,1610612739,CLE,Cleveland Cavaliers,42300131,2024-04-20T00:00:00,CLE vs. ORL,W,48.0,36,...,103,154,18,85,127,110,9,120,31,1.0
2359,2023-24,1610612750,MIN,Minnesota Timberwolves,42300161,2024-04-20T00:00:00,MIN vs. PHX,W,48.0,44,...,35,130,34,132,101,143,73,21,11,1.0
2360,2023-24,1610612755,PHI,Philadelphia 76ers,42300111,2024-04-20T00:00:00,PHI @ NYK,L,48.0,36,...,149,55,34,22,127,110,87,92,106,1.0
2361,2023-24,1610612753,ORL,Orlando Magic,42300131,2024-04-20T00:00:00,ORL @ CLE,L,48.0,28,...,156,71,3,22,57,150,44,161,133,1.0

In [30]:
playoff_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2362 entries, 0 to 2361
Data columns (total 57 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_YEAR        2362 non-null   object
 1   TEAM_ID            2362 non-null   int64
 2   TEAM_ABBREVIATION  2362 non-null   object
 3   TEAM_NAME          2362 non-null   object
 4   GAME_ID            2362 non-null   int64
 5   GAME_DATE          2362 non-null   object
 6   MATCHUP            2362 non-null   object
 7   WL                 2362 non-null   object
 8   MIN                2362 non-null   float64
 9   FGM                2362 non-null   int64
 10  FGA                2362 non-null   int64
 11  FG_PCT             2362 non-null   float64
 12  FG3M               2362 non-null   int64
 13  FG3A               2362 non-null   int64
 14  FG3_PCT            2362 non-null   float64
 15  FTM                2362 non-null   int64
 16  FTA                2362 non-null   int64
 17  FT_PCT             2362 non-null   float64
 18  OREB               2362 non-null   int64
 19  DREB               2362 non-null   int64
 20  REB                2362 non-null   int64
 21  AST                2362 non-null   int64
 22  TOV                2362 non-null   float64
 23  STL                2362 non-null   int64
 24  BLK                2362 non-null   int64
 25  BLKA               2362 non-null   int64
 26  PF                 2362 non-null   int64
 27  PFD                2362 non-null   int64
 28  PTS                2362 non-null   int64
 29  PLUS_MINUS         2362 non-null   float64
 30  GP_RANK            2362 non-null   int64
 31  W_RANK             2362 non-null   int64
 32  L_RANK             2362 non-null   int64
 33  W_PCT_RANK         2362 non-null   int64
 34  MIN_RANK           2362 non-null   int64
 35  FGM_RANK           2362 non-null   int64
 36  FGA_RANK           2362 non-null   int64
 37  FG_PCT_RANK        2362 non-null   int64
 38  FG3M_RANK          2362 non-null   int64
 39  FG3A_RANK          2362 non-null   int64
 40  FG3_PCT_RANK       2362 non-null   int64
 41  FTM_RANK           2362 non-null   int64
 42  FTA_RANK           2362 non-null   int64
 43  FT_PCT_RANK        2362 non-null   int64
 44  OREB_RANK          2362 non-null   int64
 45  DREB_RANK          2362 non-null   int64
 46  REB_RANK           2362 non-null   int64
 47  AST_RANK           2362 non-null   int64
 48  TOV_RANK           2362 non-null   int64
 49  STL_RANK           2362 non-null   int64
 50  BLK_RANK           2362 non-null   int64
 51  BLKA_RANK          2362 non-null   int64
 52  PF_RANK            2362 non-null   int64
 53  PFD_RANK           2362 non-null   int64
 54  PTS_RANK           2362 non-null   int64
 55  PLUS_MINUS_RANK    2362 non-null   int64
 56  AVAILABLE_FLAG     2026 non-null   float64
dtypes: float64(7), int64(44), object(6)
memory usage: 1.0+ MB

In [9]:
regular_part_1 = pd.read_csv('../NBA-Data-2010-2024/regular_season_box_scores_2010_2024_part_1.csv')
regular_part_1

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-11-10,21000112,NJN @ CLE,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,-4
1,2010-11,2010-11-17,21000165,NJN @ UTA,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
2,2010-11,2010-11-27,21000237,NJN @ PHI,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
3,2010-11,2010-12-12,21000351,NJN vs. LAL,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
4,2010-11,2010-10-29,21000020,NJN vs. SAC,1610612751,New Jersey,Nets,NJN,nets,693,...,0,1,1,1,0,0,1,1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141488,2010-11,2010-12-17,21000389,HOU vs. MEM,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,6,9,2,0,1,6,2,23,39
141489,2011-12,2012-03-02,21100534,HOU vs. DEN,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,3,4,1,0,0,2,1,13,-4
141490,2010-11,2010-11-17,21000164,HOU @ OKC,1610612745,Houston,Rockets,HOU,rockets,2449,...,2,6,8,0,0,0,3,3,26,-8
141491,2011-12,2012-02-08,21100383,HOU @ POR,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,1,2,2,0,1,4,3,12,-5
141492,2010-11,2011-03-27,21001089,HOU @ MIA,1610612745,Houston,Rockets,HOU,rockets,2449,...,0,5,5,1,0,0,0,6,28,-2

In [28]:
regular_part_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141493 entries, 0 to 141492
Data columns (total 34 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season_year              141493 non-null  object
 1   game_date                141493 non-null  object
 2   gameId                   141493 non-null  int64
 3   matchup                  141493 non-null  object
 4   teamId                   141493 non-null  int64
 5   teamCity                 141493 non-null  object
 6   teamName                 141493 non-null  object
 7   teamTricode              141493 non-null  object
 8   teamSlug                 141493 non-null  object
 9   personId                 141493 non-null  int64
 10  personName               141493 non-null  object
 11  position                 55660 non-null   object
 12  comment                  23494 non-null   object
 13  jerseyNum                0 non-null       float64
 14  minutes                  117999 non-null  object
 15  fieldGoalsMade           141493 non-null  int64
 16  fieldGoalsAttempted      141493 non-null  int64
 17  fieldGoalsPercentage     141493 non-null  float64
 18  threePointersMade        141493 non-null  int64
 19  threePointersAttempted   141493 non-null  int64
 20  threePointersPercentage  141493 non-null  float64
 21  freeThrowsMade           141493 non-null  int64
 22  freeThrowsAttempted      141493 non-null  int64
 23  freeThrowsPercentage     141493 non-null  float64
 24  reboundsOffensive        141493 non-null  int64
 25  reboundsDefensive        141493 non-null  int64
 26  reboundsTotal            141493 non-null  int64
 27  assists                  141493 non-null  int64
 28  steals                   141493 non-null  int64
 29  blocks                   141493 non-null  int64
 30  turnovers                141493 non-null  int64
 31  foulsPersonal            141493 non-null  int64
 32  points                   141493 non-null  int64
 33  plusMinusPoints          141493 non-null  int64
dtypes: float64(4), int64(19), object(11)
memory usage: 36.7+ MB

In [11]:
regular_part_2 = pd.read_csv('../NBA-Data-2010-2024/regular_season_box_scores_2010_2024_part_2.csv')
regular_part_2

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-12-11,21000347,HOU vs. CLE,1610612745,Houston,Rockets,HOU,rockets,2449,...,6,8,14,1,1,0,4,3,14,10
1,2010-11,2010-11-19,21000173,HOU @ TOR,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,4,5,3,1,1,2,3,19,0
2,2011-12,2012-03-18,21100667,HOU @ PHX,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,4,7,3,0,0,0,2,18,-6
3,2010-11,2010-12-22,21000429,HOU @ LAC,1610612745,Houston,Rockets,HOU,rockets,2449,...,1,2,3,2,2,2,4,5,22,-3
4,2010-11,2011-02-22,21000840,HOU @ DET,1610612745,Houston,Rockets,HOU,rockets,2449,...,3,6,9,1,1,2,3,3,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141488,2011-12,2012-01-25,21100263,OKC vs. NOH,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,1,2,3,2,0,2,2,3,7,11
141489,2013-14,2014-01-19,21300603,OKC vs. SAC,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,3,4,7,2,0,0,1,3,10,3
141490,2015-16,2016-01-24,21500664,OKC @ BKN,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,3,1,4,1,0,1,0,4,3,-6
141491,2013-14,2014-03-17,21300999,OKC @ CHI,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,1,1,2,1,2,0,1,4,2,-7
141492,2015-16,2015-11-13,21500134,OKC vs. PHI,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,4,4,8,2,0,1,2,4,6,12

In [26]:
regular_part_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141493 entries, 0 to 141492
Data columns (total 34 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season_year              141493 non-null  object
 1   game_date                141493 non-null  object
 2   gameId                   141493 non-null  int64
 3   matchup                  141493 non-null  object
 4   teamId                   141493 non-null  int64
 5   teamCity                 141493 non-null  object
 6   teamName                 141493 non-null  object
 7   teamTricode              141493 non-null  object
 8   teamSlug                 141493 non-null  object
 9   personId                 141493 non-null  int64
 10  personName               141493 non-null  object
 11  position                 55437 non-null   object
 12  comment                  25629 non-null   object
 13  jerseyNum                0 non-null       float64
 14  minutes                  115864 non-null  object
 15  fieldGoalsMade           141493 non-null  int64
 16  fieldGoalsAttempted      141493 non-null  int64
 17  fieldGoalsPercentage     141493 non-null  float64
 18  threePointersMade        141493 non-null  int64
 19  threePointersAttempted   141493 non-null  int64
 20  threePointersPercentage  141493 non-null  float64
 21  freeThrowsMade           141493 non-null  int64
 22  freeThrowsAttempted      141493 non-null  int64
 23  freeThrowsPercentage     141493 non-null  float64
 24  reboundsOffensive        141493 non-null  int64
 25  reboundsDefensive        141493 non-null  int64
 26  reboundsTotal            141493 non-null  int64
 27  assists                  141493 non-null  int64
 28  steals                   141493 non-null  int64
 29  blocks                   141493 non-null  int64
 30  turnovers                141493 non-null  int64
 31  foulsPersonal            141493 non-null  int64
 32  points                   141493 non-null  int64
 33  plusMinusPoints          141493 non-null  int64
dtypes: float64(4), int64(19), object(11)
memory usage: 36.7+ MB

In [13]:
regular_part_3 = pd.read_csv('../NBA-Data-2010-2024/regular_season_box_scores_2010_2024_part_3.csv')
regular_part_3

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2015-16,2016-02-25,21500857,OKC @ NOP,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,0,0,0,1,0,0,0,0,0,1
1,2017-18,2017-12-07,21700365,OKC @ BKN,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,2,1,3,1,0,0,1,0,2,4
2,2012-13,2012-12-31,21200456,OKC vs. PHX,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,4,5,9,2,1,0,1,2,10,-5
3,2013-14,2013-12-29,21300450,OKC vs. HOU,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,1,4,5,3,0,0,1,1,4,5
4,2017-18,2017-12-16,21700431,OKC @ NYK,1610612760,Oklahoma City,Thunder,OKC,thunder,2555,...,0,1,1,0,0,0,0,2,3,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141487,2023-24,2024-01-25,22300628,WAS vs. UTA,1610612764,Washington,Wizards,WAS,wizards,1641998,...,0,1,1,0,0,0,0,0,0,0
141488,2023-24,2024-01-21,22300602,WAS vs. DEN,1610612764,Washington,Wizards,WAS,wizards,1641998,...,0,0,0,0,0,0,0,0,0,0
141489,2023-24,2024-01-29,22300665,WAS @ SAS,1610612764,Washington,Wizards,WAS,wizards,1641998,...,0,0,0,0,0,0,0,0,0,0
141490,2023-24,2024-01-24,22300620,WAS vs. MIN,1610612764,Washington,Wizards,WAS,wizards,1641998,...,0,0,0,0,0,0,1,0,0,3
141491,2023-24,2024-01-27,22300642,WAS @ DET,1610612764,Washington,Wizards,WAS,wizards,1641998,...,0,0,0,0,0,0,0,0,0,0

In [24]:
regular_part_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141492 entries, 0 to 141491
Data columns (total 34 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   season_year              141492 non-null  object
 1   game_date                141492 non-null  object
 2   gameId                   141492 non-null  int64
 3   matchup                  141492 non-null  object
 4   teamId                   141492 non-null  int64
 5   teamCity                 141492 non-null  object
 6   teamName                 141492 non-null  object
 7   teamTricode              141492 non-null  object
 8   teamSlug                 141492 non-null  object
 9   personId                 141492 non-null  int64
 10  personName               141492 non-null  object
 11  position                 55483 non-null   object
 12  comment                  23882 non-null   object
 13  jerseyNum                0 non-null       float64
 14  minutes                  117610 non-null  object
 15  fieldGoalsMade           141492 non-null  int64
 16  fieldGoalsAttempted      141492 non-null  int64
 17  fieldGoalsPercentage     141492 non-null  float64
 18  threePointersMade        141492 non-null  int64
 19  threePointersAttempted   141492 non-null  int64
 20  threePointersPercentage  141492 non-null  float64
 21  freeThrowsMade           141492 non-null  int64
 22  freeThrowsAttempted      141492 non-null  int64
 23  freeThrowsPercentage     141492 non-null  float64
 24  reboundsOffensive        141492 non-null  int64
 25  reboundsDefensive        141492 non-null  int64
 26  reboundsTotal            141492 non-null  int64
 27  assists                  141492 non-null  int64
 28  steals                   141492 non-null  int64
 29  blocks                   141492 non-null  int64
 30  turnovers                141492 non-null  int64
 31  foulsPersonal            141492 non-null  int64
 32  points                   141492 non-null  int64
 33  plusMinusPoints          141492 non-null  int64
dtypes: float64(4), int64(19), object(11)
memory usage: 36.7+ MB

In [19]:
regular_season_totals = pd.read_csv('../NBA-Data-2010-2024/regular_season_totals_2010_2024.csv')
regular_season_totals

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2022-23,1610612744,GSW,Golden State Warriors,22201230,2023-04-09T00:00:00,GSW @ POR,W,48.0,58,...,1,1578,55,512,457,678,2455,3,1,1.0
1,2020-21,1610612749,MIL,Milwaukee Bucks,22000051,2020-12-29T00:00:00,MIL @ MIA,W,48.0,51,...,146,1636,33,1830,1361,1552,1220,14,7,1.0
2,2013-14,1610612751,BKN,Brooklyn Nets,21300359,2013-12-16T00:00:00,BKN vs. PHI,W,48.0,47,...,22,2280,406,1979,1,1004,453,19,12,1.0
3,2013-14,1610612757,POR,Portland Trail Blazers,21300347,2013-12-14T00:00:00,POR @ PHI,W,48.0,52,...,2,2065,628,204,1269,272,2190,4,15,1.0
4,2018-19,1610612745,HOU,Houston Rockets,21801200,2019-04-07T00:00:00,HOU vs. PHX,W,48.0,53,...,84,176,149,917,1,244,1725,4,20,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33311,2022-23,1610612766,CHA,Charlotte Hornets,22200710,2023-01-23T00:00:00,CHA @ UTA,L,48.0,38,...,1756,1368,800,294,859,1831,139,2077,2211,1.0
33312,2022-23,1610612746,LAC,LA Clippers,22200754,2023-01-29T00:00:00,LAC @ CLE,L,48.0,37,...,2338,1368,1444,2410,1950,926,460,2220,2339,1.0
33313,2018-19,1610612741,CHI,Chicago Bulls,21801090,2019-03-23T00:00:00,CHI vs. UTA,L,48.0,33,...,2339,636,1543,1731,2091,244,1928,2439,2412,1.0
33314,2021-22,1610612738,BOS,Boston Celtics,22100078,2021-10-30T00:00:00,BOS @ WAS,L,58.0,44,...,1407,697,840,45,1930,2456,570,1081,1321,1.0
33315,2013-14,1610612763,MEM,Memphis Grizzlies,21300454,2013-12-30T00:00:00,MEM vs. CHI,L,48.0,35,...,1681,2280,82,537,2354,2219,1001,1931,1417,1.0

In [22]:
regular_season_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33316 entries, 0 to 33315
Data columns (total 57 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_YEAR        33316 non-null  object
 1   TEAM_ID            33316 non-null  int64
 2   TEAM_ABBREVIATION  33316 non-null  object
 3   TEAM_NAME          33316 non-null  object
 4   GAME_ID            33316 non-null  int64
 5   GAME_DATE          33316 non-null  object
 6   MATCHUP            33316 non-null  object
 7   WL                 33316 non-null  object
 8   MIN                33316 non-null  float64
 9   FGM                33316 non-null  int64
 10  FGA                33316 non-null  int64
 11  FG_PCT             33316 non-null  float64
 12  FG3M               33316 non-null  int64
 13  FG3A               33316 non-null  int64
 14  FG3_PCT            33316 non-null  float64
 15  FTM                33316 non-null  int64
 16  FTA                33316 non-null  int64
 17  FT_PCT             33316 non-null  float64
 18  OREB               33316 non-null  int64
 19  DREB               33316 non-null  int64
 20  REB                33316 non-null  int64
 21  AST                33316 non-null  int64
 22  TOV                33316 non-null  float64
 23  STL                33316 non-null  int64
 24  BLK                33316 non-null  int64
 25  BLKA               33316 non-null  int64
 26  PF                 33316 non-null  int64
 27  PFD                33316 non-null  int64
 28  PTS                33316 non-null  int64
 29  PLUS_MINUS         33316 non-null  float64
 30  GP_RANK            33316 non-null  int64
 31  W_RANK             33316 non-null  int64
 32  L_RANK             33316 non-null  int64
 33  W_PCT_RANK         33316 non-null  int64
 34  MIN_RANK           33316 non-null  int64
 35  FGM_RANK           33316 non-null  int64
 36  FGA_RANK           33316 non-null  int64
 37  FG_PCT_RANK        33316 non-null  int64
 38  FG3M_RANK          33316 non-null  int64
 39  FG3A_RANK          33316 non-null  int64
 40  FG3_PCT_RANK       33316 non-null  int64
 41  FTM_RANK           33316 non-null  int64
 42  FTA_RANK           33316 non-null  int64
 43  FT_PCT_RANK        33316 non-null  int64
 44  OREB_RANK          33316 non-null  int64
 45  DREB_RANK          33316 non-null  int64
 46  REB_RANK           33316 non-null  int64
 47  AST_RANK           33316 non-null  int64
 48  TOV_RANK           33316 non-null  int64
 49  STL_RANK           33316 non-null  int64
 50  BLK_RANK           33316 non-null  int64
 51  BLKA_RANK          33316 non-null  int64
 52  PF_RANK            33316 non-null  int64
 53  PFD_RANK           33316 non-null  int64
 54  PTS_RANK           33316 non-null  int64
 55  PLUS_MINUS_RANK    33316 non-null  int64
 56  AVAILABLE_FLAG     28862 non-null  float64
dtypes: float64(7), int64(44), object(6)
memory usage: 14.5+ MB