In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read in data
playoff_box_scores = pd.read_csv('../NBA_Player_Evolution_2020-2024/play_off_box_scores_2010_2024.csv')

#Change season_year and game_date to date-time format
playoff_box_scores['game_date'] = pd.to_datetime(playoff_box_scores['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
playoff_box_scores[(playoff_box_scores['season_year']>='2020-21') & (playoff_box_scores['season_year']<='2023-24')]

#Select the columns I will be using to make it easier to work with
playoff_box_scores = playoff_box_scores[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamSlug', 'personId', 'personName', 'position', 'minutes', 'fieldGoalsPercentage', 'threePointersPercentage', 'freeThrowsPercentage', 'points', 'plusMinusPoints', 'assists']]
playoff_box_scores

,season_year,game_date,gameId,teamId,teamTricode,teamSlug,personId,personName,position,minutes,fieldGoalsPercentage,threePointersPercentage,freeThrowsPercentage,points,plusMinusPoints,assists
0,2011-12,2012-06-03,41100304,1610612748,MIA,heat,436,Juwan Howard,NaN,NaN,0.0,0.0,0.0,0,0,0
1,2011-12,2012-06-09,41100307,1610612748,MIA,heat,436,Juwan Howard,NaN,0:28,0.0,0.0,0.0,0,0,0
2,2010-11,2011-06-05,41000403,1610612748,MIA,heat,436,Juwan Howard,NaN,6:25,0.0,0.0,0.5,1,6,1
3,2011-12,2012-04-28,41100111,1610612748,MIA,heat,436,Juwan Howard,NaN,5:12,0.0,0.0,0.0,0,3,0
4,2011-12,2012-05-15,41100202,1610612748,MIA,heat,436,Juwan Howard,NaN,NaN,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31180,2023-24,2024-04-20,42300161,1610612756,PHX,suns,1629642,Nassir Little,NaN,3:37,1.0,0.0,0.0,2,-5,0
31181,2023-24,2024-04-28,42300164,1610612756,PHX,suns,201152,Thaddeus Young,NaN,NaN,0.0,0.0,0.0,0,0,0
31182,2023-24,2024-04-23,42300162,1610612756,PHX,suns,201152,Thaddeus Young,NaN,NaN,0.0,0.0,0.0,0,0,0
31183,2023-24,2024-04-26,42300163,1610612756,PHX,suns,201152,Thaddeus Young,NaN,NaN,0.0,0.0,0.0,0,0,0
31184,2023-24,2024-04-20,42300161,1610612756,PHX,suns,201152,Thaddeus Young,NaN,3:37,0.0,0.0,0.0,0,-5,0

In [3]:
# Read in data
team_playoff_totals = pd.read_csv('../NBA_Player_Evolution_2020-2024/play_off_totals_2010_2024.csv')

#Change season_year and game_date to date-time format
team_playoff_totals['GAME_DATE'] = pd.to_datetime(team_playoff_totals['GAME_DATE'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
team_playoff_totals[(team_playoff_totals['SEASON_YEAR']>='2020-21') & (team_playoff_totals['SEASON_YEAR']<='2023-24')]

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
team_playoff_totals = team_playoff_totals[['SEASON_YEAR', 'GAME_DATE', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'PTS', 'PTS_RANK', 'AST', 'AST_RANK', 'PLUS_MINUS_RANK']]
team_playoff_totals

,SEASON_YEAR,GAME_DATE,GAME_ID,TEAM_ID,TEAM_NAME,FG_PCT,FG3_PCT,FT_PCT,PTS,PTS_RANK,AST,AST_RANK,PLUS_MINUS_RANK
0,2010-11,2011-05-10,41000205,1610612737,Atlanta Hawks,0.479,0.083,0.824,83,140,20,43,139
1,2010-11,2011-05-02,41000201,1610612737,Atlanta Hawks,0.513,0.538,0.800,103,24,20,43,39
2,2010-11,2011-05-04,41000202,1610612737,Atlanta Hawks,0.338,0.231,0.750,73,159,14,137,145
3,2010-11,2011-04-19,41000132,1610612737,Atlanta Hawks,0.395,0.350,0.647,82,144,15,123,106
4,2010-11,2011-04-26,41000135,1610612737,Atlanta Hawks,0.362,0.250,0.688,76,157,15,123,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,2023-24,2024-04-20,42300161,1610612756,Phoenix Suns,0.440,0.321,0.800,95,129,16,156,153
2358,2023-24,2024-04-20,42300131,1610612739,Cleveland Cavaliers,0.444,0.267,0.810,97,120,21,103,31
2359,2023-24,2024-04-20,42300161,1610612750,Minnesota Timberwolves,0.500,0.375,0.909,120,21,26,35,11
2360,2023-24,2024-04-20,42300111,1610612755,Philadelphia 76ers,0.444,0.343,0.909,104,92,17,149,106
2361,2023-24,2024-04-20,42300131,1610612753,Orlando Magic,0.326,0.216,0.633,83,161,16,156,133

In [42]:
regular_part_1 = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_box_scores_2010_2024_part_1.csv')

#Change season_year and game_date to date-time format
regular_part_1['game_date'] = pd.to_datetime(regular_part_1['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
#regular_part_1[(regular_part_1['season_year']>='2020-21') & (regular_part_1['season_year']<='2023-24')]
regular_part_1 = regular_part_1[regular_part_1['game_date']>='2020-03-01']

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_part_1 = regular_part_1[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamName', 'personId', 'personName', 'position', 'minutes', 'assists', 'points', 'fieldGoalsPercentage', 'threePointersPercentage', 'plusMinusPoints', 'freeThrowsPercentage']]

regular_part_1['season_year'].unique()
regular_part_1['minutes'].info()
regular_part_1

<class 'pandas.core.series.Series'>
Index: 42133 entries, 2062 to 140999
Series name: minutes
Non-Null Count  Dtype
--------------  -----
34537 non-null  object
dtypes: object(1)
memory usage: 658.3+ KB

,season_year,game_date,gameId,teamId,teamTricode,teamName,personId,personName,position,minutes,assists,points,fieldGoalsPercentage,threePointersPercentage,plusMinusPoints,freeThrowsPercentage
2062,2019-20,2020-03-06,21900930,1610612737,ATL,Hawks,1713,Vince Carter,NaN,16:45,0,8,0.750,0.667,1,0.0
2084,2019-20,2020-03-09,21900957,1610612737,ATL,Hawks,1713,Vince Carter,NaN,15:08,1,9,0.500,0.600,0,0.0
2093,2019-20,2020-03-11,21900969,1610612737,ATL,Hawks,1713,Vince Carter,NaN,12:40,0,5,0.400,0.500,6,0.0
2106,2019-20,2020-03-07,21900943,1610612737,ATL,Hawks,1713,Vince Carter,NaN,18:54,1,5,0.286,0.167,8,0.0
2157,2019-20,2020-03-02,21900905,1610612737,ATL,Hawks,1713,Vince Carter,NaN,15:12,1,6,0.222,0.286,-16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140972,2019-20,2020-03-10,21900963,1610612745,HOU,Rockets,2199,Tyson Chandler,NaN,NaN,0,0,0.000,0.000,0,0.0
140981,2019-20,2020-03-05,21900927,1610612745,HOU,Rockets,2199,Tyson Chandler,NaN,NaN,0,0,0.000,0.000,0,0.0
140983,2019-20,2020-08-04,21901261,1610612745,HOU,Rockets,2199,Tyson Chandler,NaN,NaN,0,0,0.000,0.000,0,0.0
140998,2019-20,2020-08-11,21901298,1610612745,HOU,Rockets,2199,Tyson Chandler,NaN,NaN,0,0,0.000,0.000,0,0.0
140999,2019-20,2020-08-02,21901248,1610612745,HOU,Rockets,2199,Tyson Chandler,NaN,NaN,0,0,0.000,0.000,0,0.0

In [5]:
regular_part_2 = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_box_scores_2010_2024_part_2.csv')

#Change season_year and game_date to date-time format
regular_part_2['game_date'] = pd.to_datetime(regular_part_2['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
#regular_part_2[(regular_part_2['season_year']>='2020-21') & (regular_part_2['season_year']<='2023-24')]
regular_part_2 = regular_part_2[regular_part_2['game_date']>='2020-03-01']

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_part_2 = regular_part_2[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamName', 'personId', 'personName', 'position', 'minutes', 'assists', 'points', 'fieldGoalsPercentage', 'threePointersPercentage', 'plusMinusPoints', 'freeThrowsPercentage']]
regular_part_2['season_year'].unique()
regular_part_2['minutes'].info()

<class 'pandas.core.series.Series'>
Index: 42911 entries, 1441 to 140866
Series name: minutes
Non-Null Count  Dtype
--------------  -----
34785 non-null  object
dtypes: object(1)
memory usage: 670.5+ KB

In [6]:
regular_part_3 = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_box_scores_2010_2024_part_3.csv')

#Change season_year and game_date to date-time format
regular_part_3['game_date'] = pd.to_datetime(regular_part_3['game_date'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)

regular_part_3 = regular_part_3[regular_part_3['game_date']>='2020-03-01']
#regular_part_3['season_year'] = regular_part_3[regular_part_3['season_year'].isin(filtered_years)]


#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_part_3 = regular_part_3[['season_year', 'game_date', 'gameId', 'teamId', 'teamTricode', 'teamName', 'personId', 'personName', 'minutes', 'assists', 'points', 'fieldGoalsPercentage', 'threePointersPercentage', 'plusMinusPoints', 'freeThrowsPercentage']]

regular_part_3['season_year'].unique()
regular_part_3['minutes'].info()

<class 'pandas.core.series.Series'>
Index: 43231 entries, 922 to 141491
Series name: minutes
Non-Null Count  Dtype
--------------  -----
35556 non-null  object
dtypes: object(1)
memory usage: 675.5+ KB

In [7]:
regular_season_totals = pd.read_csv('../NBA_Player_Evolution_2020-2024/regular_season_totals_2010_2024.csv')

#Change season_year and game_date to date-time format
regular_season_totals['GAME_DATE'] = pd.to_datetime(regular_season_totals['GAME_DATE'])

##Select the range of dates between 2020 and 2024(need to go with season year bc the season overlaps 2 year. Not selecting any 24-25 data as it will be inomplete)
regular_season_totals[(regular_season_totals['SEASON_YEAR']>='2020-21') & (regular_season_totals['SEASON_YEAR']<='2023-24')]

#Select the columns I will be using to make it easier to work with(I can look at overall team ranks as well)
regular_season_totals[['SEASON_YEAR', 'GAME_DATE', 'GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'AST', 'AST_RANK', 'PTS', 'PTS_RANK', 'PLUS_MINUS_RANK']]

,SEASON_YEAR,GAME_DATE,GAME_ID,TEAM_ID,TEAM_NAME,FG_PCT,FG3_PCT,FT_PCT,AST,AST_RANK,PTS,PTS_RANK,PLUS_MINUS_RANK
0,2022-23,2023-04-09,22201230,1610612744,Golden State Warriors,0.604,0.551,0.875,47,1,157,3,1
1,2020-21,2020-12-29,22000051,1610612749,Milwaukee Bucks,0.554,0.569,0.867,32,146,144,14,7
2,2013-14,2013-12-16,21300359,1610612751,Brooklyn Nets,0.603,0.600,0.577,35,22,130,19,12
3,2013-14,2013-12-14,21300347,1610612757,Portland Trail Blazers,0.559,0.568,0.700,41,2,139,4,15
4,2018-19,2019-04-07,21801200,1610612745,Houston Rockets,0.530,0.474,0.762,34,84,149,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33311,2022-23,2023-01-23,22200710,1610612766,Charlotte Hornets,0.447,0.125,0.706,22,1756,102,2077,2211
33312,2022-23,2023-01-29,22200754,1610612746,LA Clippers,0.416,0.105,0.852,17,2338,99,2220,2339
33313,2018-19,2019-03-23,21801090,1610612741,Chicago Bulls,0.359,0.125,0.750,16,2339,83,2439,2412
33314,2021-22,2021-10-30,22100078,1610612738,Boston Celtics,0.411,0.077,0.880,23,1407,112,1081,1321
33315,2013-14,2013-12-30,21300454,1610612763,Memphis Grizzlies,0.449,0.000,0.750,19,1681,91,1931,1417

In [8]:
# Combine the 3 regular season stats for easier analysis and remove duplicates
two_regular_season = pd.merge(regular_part_1, regular_part_2, how='outer')
#all_regular_season = all_regular_season.drop_duplicates()
two_regular_season

,season_year,game_date,gameId,teamId,teamTricode,teamName,personId,personName,position,minutes,assists,points,fieldGoalsPercentage,threePointersPercentage,plusMinusPoints,freeThrowsPercentage
0,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,101107,Marvin Williams,NaN,19:37,2,0,0.000,0.000,-11,0.000
1,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,101141,Ersan Ilyasova,NaN,NaN,0,0,0.000,0.000,0,0.000
2,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201572,Brook Lopez,C,26:25,0,16,0.364,0.200,16,0.778
3,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201577,Robin Lopez,NaN,13:18,0,2,0.200,0.000,-12,0.000
4,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201588,George Hill,NaN,25:43,2,11,0.364,0.250,2,0.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85039,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1629611,Terance Mann,G,27:40,2,24,0.714,0.333,-4,1.000
85040,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1629875,Xavier Moon,G,46:21,6,14,0.273,0.222,-7,0.000
85041,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1630527,Brandon Boston Jr.,NaN,30:53,3,15,0.313,0.333,-4,0.750
85042,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1630538,Bones Hyland,NaN,NaN,0,0,0.000,0.000,0,0.000
85043,2023-24,2024-04-14,22301199,1610612746,LAC,Clippers,1641738,Kobe Brown,NaN,38:26,4,9,0.400,0.333,-10,0.000

In [9]:
#merge the combined df with the 3rd regular season data
all_regular_season = pd.merge(two_regular_season, regular_part_3, how='outer')

#remove : and the seconds from the mm:ss fill NaN with 0:0 to account for errors and change to string because the object column doesnt allow
all_regular_season['minutes'] = (all_regular_season['minutes'].fillna('0:0').str.split(':').str[0].astype(int))

#filter for players that played 20 or minutes for more consistent data
all_regular_season = all_regular_season[all_regular_season['minutes'] >= 20]

all_regular_season

,season_year,game_date,gameId,teamId,teamTricode,teamName,personId,personName,position,minutes,assists,points,fieldGoalsPercentage,threePointersPercentage,plusMinusPoints,freeThrowsPercentage
2,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201572,Brook Lopez,C,26,0,16,0.364,0.200,16,0.778
4,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,201588,George Hill,NaN,25,2,11,0.364,0.250,2,0.667
5,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,202083,Wesley Matthews,F,27,2,8,0.273,0.286,11,0.000
6,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,202339,Eric Bledsoe,G,22,2,4,0.250,0.000,6,0.000
7,2019-20,2020-03-01,21900895,1610612749,MIL,Bucks,203507,Giannis Antetokounmpo,F,34,6,41,0.607,0.250,22,0.857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128264,2023-24,2024-04-14,22301200,1610612758,SAC,Kings,1627734,Domantas Sabonis,NaN,27,9,18,0.700,0.000,37,1.000
128265,2023-24,2024-04-14,22301200,1610612758,SAC,Kings,1628368,De'Aaron Fox,NaN,25,3,24,0.714,0.667,13,1.000
128270,2023-24,2024-04-14,22301200,1610612758,SAC,Kings,1630558,Davion Mitchell,NaN,21,3,11,0.364,0.600,33,0.000
128271,2023-24,2024-04-14,22301200,1610612758,SAC,Kings,1631099,Keegan Murray,NaN,27,1,12,0.333,0.286,26,1.000
128272,2023-24,2024-04-14,22301200,1610612758,SAC,Kings,1631165,Keon Ellis,NaN,24,2,13,0.444,0.500,30,1.000

In [10]:
grouped_data = all_regular_season.groupby(['season_year', 'personName','personId']).agg({'minutes': 'mean', 'points': 'mean', 'assists': 'mean','fieldGoalsPercentage': 'mean'}).reset_index()

In [11]:
#filter for the year 2019-2020
year_2019_20 = grouped_data[grouped_data['season_year']=='2019-20']
year_2019_20

,season_year,personName,personId,minutes,points,assists,fieldGoalsPercentage
0,2019-20,Aaron Gordon,203932,30.000000,14.250000,4.875000,0.452500
1,2019-20,Aaron Holiday,1628988,32.250000,8.416667,3.666667,0.420417
2,2019-20,Abdel Nader,1627846,21.666667,10.000000,0.666667,0.500000
3,2019-20,Admiral Schofield,1629678,24.000000,3.000000,0.000000,0.250000
4,2019-20,Al Horford,201143,28.818182,13.363636,4.454545,0.505545
...,...,...,...,...,...,...,...
368,2019-20,Willy Hernangomez,1626195,21.000000,12.000000,2.000000,0.540000
369,2019-20,Wilson Chandler,201163,23.500000,5.500000,2.000000,0.393000
370,2019-20,Zach Collins,1628380,27.166667,6.166667,1.666667,0.535000
371,2019-20,Zion Williamson,1629627,29.375000,24.125000,2.125000,0.614500
372,2019-20,Zylan Cheatham,1629597,20.000000,8.000000,1.000000,1.000000

In [12]:
#filter for the year 2020-2021
year_2020_21 = grouped_data[grouped_data['season_year']=='2020-21']
year_2020_21

,season_year,personName,personId,minutes,points,assists,fieldGoalsPercentage
373,2020-21,Aaron Gordon,203932,28.173913,12.956522,3.478261,0.463696
374,2020-21,Aaron Holiday,1628988,24.000000,10.666667,3.125000,0.450583
375,2020-21,Aaron Nesmith,1630174,24.181818,8.636364,0.545455,0.509273
376,2020-21,Abdel Nader,1627846,23.285714,10.000000,1.428571,0.429000
377,2020-21,Al Horford,201143,27.464286,14.214286,3.357143,0.445607
...,...,...,...,...,...,...,...
852,2020-21,Yogi Ferrell,1627812,24.500000,9.500000,4.250000,0.320750
853,2020-21,Yuta Watanabe,1629139,24.625000,10.625000,1.875000,0.512750
854,2020-21,Zach LaVine,203897,34.551724,27.431034,4.862069,0.501000
855,2020-21,Zeke Nnaji,1630192,24.200000,8.600000,0.600000,0.515200
856,2020-21,Zion Williamson,1629627,33.237288,27.322034,3.813559,0.621288

In [13]:
#filter for the year 2021-2022
year_2021_22 = grouped_data[grouped_data['season_year']=='2021-22']
year_2021_22

,season_year,personName,personId,minutes,points,assists,fieldGoalsPercentage
857,2021-22,Aaron Gordon,203932,31.186667,15.013333,2.506667,0.522307
858,2021-22,Aaron Holiday,1628988,24.800000,9.300000,4.200000,0.464200
859,2021-22,Aaron Nesmith,1630174,24.714286,8.285714,0.857143,0.381000
860,2021-22,Aaron Wiggins,1630598,28.428571,10.457143,1.600000,0.445943
861,2021-22,Admiral Schofield,1629678,22.000000,7.000000,1.250000,0.530750
...,...,...,...,...,...,...,...
1366,2021-22,Zach Collins,1628380,23.428571,11.857143,2.857143,0.543000
1367,2021-22,Zach LaVine,203897,34.742424,24.772727,4.590909,0.473667
1368,2021-22,Zavier Simpson,1630285,43.000000,11.000000,7.500000,0.354250
1369,2021-22,Zeke Nnaji,1630192,24.500000,10.333333,0.583333,0.488750
1370,2021-22,Ziaire Williams,1630533,25.771429,10.628571,1.371429,0.470343

In [14]:
#filter for the year 2022-2023
year_2022_23 = grouped_data[grouped_data['season_year']=='2022-23']
year_2022_23

,season_year,personName,personId,minutes,points,assists,fieldGoalsPercentage
1371,2022-23,A.J. Lawson,1630639,22.500000,11.000000,0.500000,0.500000
1372,2022-23,AJ Green,1631260,22.000000,11.000000,1.000000,0.479000
1373,2022-23,AJ Griffin,1631100,25.228571,12.685714,1.428571,0.509057
1374,2022-23,Aaron Gordon,203932,29.925373,16.492537,3.029851,0.571687
1375,2022-23,Aaron Holiday,1628988,25.416667,7.416667,3.416667,0.462833
...,...,...,...,...,...,...,...
1854,2022-23,Zach Collins,1628380,25.975000,13.750000,3.175000,0.555650
1855,2022-23,Zach LaVine,203897,35.441558,24.844156,4.246753,0.480325
1856,2022-23,Zeke Nnaji,1630192,24.545455,10.000000,0.636364,0.610091
1857,2022-23,Ziaire Williams,1630533,24.090909,10.000000,1.636364,0.461000
1858,2022-23,Zion Williamson,1629627,32.448276,26.000000,4.586207,0.614069

In [15]:
#filter for the year 2023-2024
year_2023_24 = grouped_data[grouped_data['season_year']=='2023-24']
year_2023_24

,season_year,personName,personId,minutes,points,assists,fieldGoalsPercentage
1859,2023-24,A.J. Lawson,1630639,24.200000,10.600000,2.000000,0.500400
1860,2023-24,AJ Green,1631260,22.500000,12.000000,1.333333,0.524500
1861,2023-24,Aaron Gordon,203932,31.180556,14.013889,3.569444,0.577833
1862,2023-24,Aaron Holiday,1628988,24.478261,12.391304,2.739130,0.537130
1863,2023-24,Aaron Nesmith,1630174,28.151515,12.590909,1.560606,0.498394
...,...,...,...,...,...,...,...
2338,2023-24,Zach LaVine,203897,34.360000,19.480000,3.920000,0.433160
2339,2023-24,Zavier Simpson,1630285,27.600000,8.000000,3.800000,0.335400
2340,2023-24,Zeke Nnaji,1630192,20.000000,8.000000,1.500000,0.412500
2341,2023-24,Ziaire Williams,1630533,26.392857,11.071429,1.857143,0.418750
2342,2023-24,Zion Williamson,1629627,31.115942,23.028986,5.086957,0.574971

In [16]:
year_2019_20.to_csv('year_2019_20.csv', index=False)

In [17]:
year_2020_21.to_csv('year_2020_21.csv', index=False)

In [18]:
year_2021_22.to_csv('year_2021_22.csv', index=False)

In [19]:
year_2022_23.to_csv('year_2022_23.csv', index=False)

In [20]:
year_2023_24.to_csv('year_2023_24.csv', index=False)